body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div .container {
  display: inline-block;
  border-style: solid;
  margin: 20px;
}

div .cat-container {
  border-color: #ff00ff;
}

div .bear-container {
  border-color: #00ffff;
}

div .bill-container {
  border-color: #ff0000;
}

.ad-container > span {
  display: inline;
}

.ad-container {
  border-style: solid;
  border-color: gray;
  background-color: beige;
  margin: 20px;
}

div .ad-text {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px; 
}

#root {
  background-color: midnightblue;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0
}

.ad-board-header{
  border-style: solid;
  border-color: gray;
  background-color: beige;
  margin: 20px;
  padding: 0px 0px 0px 20px;
}
